{% extends 'tecsup.html' %}

{% block contenido %}
    <div class="max-w-4xl mx-auto mt-8 px-4 mb-10">
        <h2 class="text-3xl font-bold mb-4">NUESTRA HISTORIA</h2>
        <img src="./static/img/historia-tecsup.png" alt="Historia de Tecsup" class="mb-4 rounded-lg shadow-md">

        <p class="text-lg leading-relaxed text-justify">
            Tecsup fue creado en 1982 por Luis Hochschild Plaut, como una asociación privada sin fines de lucro con el apoyo de un grupo de empresarios peruanos preocupados por el desarrollo nacional. En forma progresiva Tecsup ha ido implementando laboratorios e infraestructura principalmente gracias al aporte de empresas privadas nacionales, así como de donantes del exterior.

            Ha sido fundamental la ayuda del estado de Baden Württemberg de Alemania, a través del aporte de equipos, la capacitación de profesores y asesoría de expertos en el diseño de la organización y programas educativos. Asimismo, se recibió asistencia financiera y técnica del Banco Interamericano de Desarrollo, la Agencia Internacional para el Desarrollo de los Estados Unidos de América, la Unión Europa, Canadá, Suecia y el País Vasco de España.

            En 1984, Tecsup inició sus actividades educativas en un primer campus construido en la ciudad de Lima para ofrecer formación a través de Carreras Profesionales las cuales tienen como objetivo brindar una formación profesional integral. En 1993 se inició las operaciones en el campus de Arequipa, con el objetivo de contribuir a la descentralización del país. A esta segunda sede se sumó en el 2008 la sede de Trujillo para ofrecer carreras orientadas al sector económico de la región.

            Paralelamente a las actividades de formación Tecsup, creó los Programas de Extensión profesional, CPE – Cursos y Programas Integrales – y los PEP – Programas de Extensión para Profesionales. A la fecha Tecsup ofrece una variedad de productos y servicios a través de diferentes modalidades destacando Tecsup Virtual que fue ofertado en 1999 y a la fecha cuenta con más de 25,000 inscripciones.

            En cada campus se dio posteriormente los Programas de Extensión que ofrecen cursos cortos y programas de especialización e integrales. Tecsup ha ido introduciendo progresivamente una variedad de servicios educativos, como son los programas de capacitación de un año en áreas especializadas o los cursos dictados en la misma empresa y cursos por Internet.
        </p>

        <h2 class="mt-10 text-3xl font-bold mb-4">ACERCA DE TECSUP</h2>
        <img src="./static/img/acerca-de-tecsup.png" alt="Acerca de Tecsup" class="mb-4 rounded-lg shadow-md">

        <p class="text-lg leading-relaxed text-justify">
            Tecsup es una organización educativa privada sin fines de lucro, dedicada a formar y capacitar profesionales, así como brindar servicios de consultoría, investigación y aplicación de tecnología. El fundador, Luis Hochschild Plaut, se esforzó por hacer de Tecsup una valiosa obra para beneficio de los jóvenes y profesionales de empresas e instituciones del país.


            Desde 1984, Tecsup ofrece a jóvenes la oportunidad de seguir carreras profesionales relacionadas con la aplicación de la tecnología en la operación y mantenimiento de actividades industriales. Asimismo, ofrece a profesionales en la industria la oportunidad de actualizarse o especializarse en distintos procesos de desarrollo tecnológico a través de programas cortos.
            
            
            El sistema educativo desarrollado por Tecsup se ha basado en experiencias del extranjero, y su implementación y desarrollo ha sido solventado gracias a los aportes de más de 200 empresas privadas peruanas y a la cooperación de instituciones internacionales.
            
            
            Tecsup cuenta actualmente con tres sedes: una en Lima, en funcionamiento desde 1984, una en Arequipa desde 1993 y la sede de Trujillo inaugurada en el año 2008, equipadas con modernos talleres y laboratorios. Los cursos se ofrecen tanto en sus locales como en las instalaciones de las empresas ubicadas en cualquier punto del país y con una moderna aplicación de tecnología de información también a través de Internet.
            
            
            Son rasgos importantes de la organización, su orientación a la excelencia en los servicios, la fuerte articulación con las necesidades de las empresas y la búsqueda de generar oportunidades a cualquier joven con vocación y aptitud, aunque sus recursos económicos no le permitan pagar el costo de estudios.
        </p>
        <h2 class="mt-10 text-3xl font-bold mb-4">BIG DATA Y CIENCIA DE DATOS</h2>
        <h3 class="text-2xl font-bold mb-4">Acerca de la Carrera</h3>
        <h4 class="text-1xl font-bold mb-4">DOMINA LA TECNOLOGÍA QUE EL MUNDO NECESITA</h4>
        <p class="text-lg leading-relaxed text-justify">
            Sabías que a nivel global existe una gran demanda por parte de las empresas para contar con profesionales que manejen la información con capacidad analítica, pensamiento crítico y usen la información para poder transformar las organizaciones de acuerdo a sus necesidades. Tú como profesional técnico en Big Data y Ciencia de Datos obtendrás las competencias tecnológicas, administrativas y personales para ser parte de la siguiente generación de pioneros que puedas obtener, gestionar y analizar grandes volúmenes de datos para encontrar soluciones a los problemas más relevantes de las organizaciones; esto lo conseguirás encontrando el valor en la información. y podrás desarrollar nuevas áreas de negocio dentro de la organización.
        </p>
        <h4 class="mt-5 text-1xl font-bold mb-4">¿POR QUÉ ELEGIR BIG DATA Y CIENCIA DE DATOS?</h4>
        <ul class="text-lg leading-relaxed text-justify list-disc">
          <li>Somos el primer Instituto en el país en ofrecer una carrera técnica en Ciencia de Datos.</li>
          <li>Desarrollamos profesionales técnicos en 4 líneas de acción: Base de Datos, Ciencias de Datos, Modelamientos Predictivos y Descriptivos , y Gestión de Negocio. </li>
          <li>Mantenemos una permanente actualización de nuestra currícula en función a las necesidades de la industria, incorporando nuevas tendencias globales y sugerencias de nuestro comité de empresa conformado por representantes de empresas de software de clase mundial.</li>
          <li>Contamos con un staff de docentes con amplia experiencia a nivel nacional e internacional en la industria de Ciencia de Datos, con certificaciones de alta especialización; así como experiencia en docencia; así como laboratorios de última generación.</li>
          
        </ul>
        <h4 class="mt-5 text-1xl font-bold mb-4">¿POR QUÉ ELEGIR TECSUP?</h4>
        <ul class="list-disc text-lg leading-relaxed text-justify">
            <li>Poseemos más de 30 años de experiencia desarrollando profesionales técnicos de primer nivel y brindando asistencia técnica y capacitación a la industria peruana.</li>
            <li>Contamos con más de 100 laboratorios con tecnología de última generación que permiten un aprendizaje personalizado. </li>
            <li>Carreras con enfoque práctico y docentes que emplean métodos activos y tecnologías de información para un aprendizaje moderno y eficaz.</li>
            <li>Ofrecemos una propuesta académica de alto valor ya que fomentamos que las carreras estén acreditadas Internacionalmente y con visión global al desarrollar programas de Intercambios estudiantiles con universidades de América Latina, EE.UU. y Europa.</li>
            <li>Nuestros estudiantes tienen contacto con la industria como parte importante de su formación, realizando pasantías al finalizar el cuarto ciclo de estudios y prácticas al concluir la carrera.</li>
          </ul>
          <h4 class="mt-5 text-1xl font-bold mb-4">Perfil del Egresado</h4>
          <h5 class="font-semibold mb-2">Nuestros Egresados:</h5>
          <ul class="list-disc text-lg leading-relaxed text-justify">
            <li>Crean modelos analíticos basados en Machine Learning, buscando mejorar la pertinencia y relevancia de cara al cliente y mejorando el desempeño de procesos críticos de la organización.</li>
            <li>Desarrollan e implementan algoritmos basados en modelos de Machine Learning que sean de utilidad para la toma de decisiones dentro de una organización.</li>
            <li>Demuestran capacidad para generar soluciones o aplicaciones computacionalmente eficientes y alineadas a la visión estratégica del negocio involucrando nuevos mecanismos de Big Data e Inteligencia Artificial para el uso y explotación de los datos  con visión estratégica, global e innovadora.</li>
          </ul>
    </div>
{% endblock %}
